<% content_for :title, "New publication" %>

<h1>New publication</h1>

<%= render "form", publication: @publication %>

<br>

<div class="publication-actions">
  <%= link_to "Back to publications", publications_path, class: "btn btn-back" %>
</div>
